body{
    width: 1600px;
    margin: 0 auto;
}

.banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(B9A1-New-Year-New-Mission/resources/Banner\ Image.png);
   justify-content: center;
   width: 1300px;
   height: 600px;
   border-radius: 16px;
    margin: auto;
    
    
}
.banner-content{
    color: #FFF;
text-align: center;
}
.banner-title{
    padding-top: 170px;
    font-size: 32px;

font-weight: 400;

}
.banner-text{
font-family: Merriweather;
font-size: 72px;
justify-content: center;
align-items: center;
align-content: center;
margin: auto;
width: 600px;
}

.about-offer{
    text-align: center;
    color: #F00;
font-size: 88px;
font-weight: 700;
font-family: 'Inter', sans-serif;
gap: 45px;
margin-bottom: 10px;
}
.about-text{
    color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 500;
}
.about-desc{
    text-align: center;
    color: #070211;
    font-family: 'Inter', sans-serif;
font-size: 48px;
font-weight: 700;

}
.image{
    width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
 }
 .section-container{
    background-image: url(B9A1-New-Year-New-Mission/resources/Vectorrr.png);
    width: 1300px;
    height: 600px;
    margin: auto;
    border-radius: 16px;
    display: flex;
    margin-top: 120px;
    
}
.section-text{
    text-align: left;
    padding-left: 126px;
    margin-top: 120px;
    
}

 .section-head{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
width: 580px;
margin-bottom: 24px;
 }
 .section-info{
    margin-top: 24px;
    margin-bottom: 48px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
 }
 .button{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
margin-top: 45px;
margin-bottom: 45px;
text-decoration: none;
margin-left: 70px;

 }
 .section-img-2{
    margin: 68px 130px;
 }
 

 .rectangle{
    justify-content: center;
    display: flex;
    gap: 24px;
    border-radius: 16px;
    margin: 0 140px;
 }
 .img-row-2{
    justify-content: center;
    display: flex;
    gap: 24px;
    border-radius: 16px;
    margin-top: 24px;
 }
 .party-container{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
   margin: 0 auto;
   justify-content: center;
   text-align: center;
   align-items: center;
   width: 1300px;
height: 482px;
border-radius: 16px;
    }
    .party-time{
        
    }
 .party-time h2{
    
    

 }
    
 
 .time-heading{
    
}
.btn-2{
 text-align: center;   
padding: 16px 25px;
gap: 10px;
border-radius: 8px;
background: #F00;
border: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-bottom: 110px;


}
.new-offer-container{
    display: flex;
    margin: auto;
    width: 1300px;
    background: #FFF;
}
.new-offer{
    padding: 22px 0;
}
.people-img{
    justify-content: center;
    align-content: center;
    align-items: center;
}
.new-offer-1{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.new-offer-2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;

font-weight: 900;


}
.new-offer-3{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;

}
.new-offer-4{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-left: 118px;
}
.new-offer-5{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-left: 118px
}
 .new-offer-image{
    width: 400px;
    height: 400px;
     border-radius: 400px;
    border: 10px solid #FF0000;
    padding: 20px;
    margin: auto;
 }
 .moree{
    margin-left: 118px
 }
.offer{
    text-align: left;
    margin: auto;
}
.offer-info{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}
.offer-name{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.offer-desc{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
}
.subscription{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin: auto;
margin-top: 120px;
margin-bottom: 120px;
width: 1300px;
height: 616px;
text-align: center;
justify-content: center;

}

.newsletter{
    text-align: center;
}
.para{
    text-align: center;
}
.box{
    display: block;
}

.last{
    border-radius: 0px 50px 50px 0px;
background: #F00;
width: 120px;
height: 50px;
border: 0;
padding: 15px 20px;
color: #FFF;
text-align: center;
font-family: Inter;
font-weight: 600;
}
.flex{
    display: flex;
    justify-content: center ;
    margin-top: 48px;
    padding-bottom: 80px;
}
footer{
    background: #070211;
    width: 1600px;
margin: 0 auto;
padding: 120px 0;
}
.footer-container{
    max width: 82%;
    width: 1300px;
    margin: 0 auto;
}
.footer-section-2{
    display: flex;
    justify-content: center;
}

.footer-section-3 h4{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    
    
}
.footer-section-3{
    justify-content: space-around;
    display: flex;
}


.footer-section-1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
    }
    .footer-contact{
        display: flex;
        flex-direction: column;
        margin-right: 280px;
        color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;   
    }
    .footer-container a{
        text-decoration: none;
    }
.footer-desc{
    color: #FFF;
font-family: Inter;
font-size: 24px;
margin-left: 95px;
width: 450px;
}
.number{
    display: flex;
}
.site{
    display: flex;
}
.footer-contact a{
    color: #FFF;
font-family: Inter;
font-size: 24px;
}
div hr{
    margin-left: 140px;
    margin-right: 140px;
}